<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fabulous.Core" version="0.27.1" />
  <package id="Fabulous.CustomControls" version="0.27.1" />
  <package id="Fabulous.LiveUpdate" version="0.27.1" />
  <package id="FSharp.Core" version="4.5.4" targetFramework="xamarinios10" />
  <package id="FSharp.Data" version="3.0.0" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="xamarinios10" />
  <package id="Plugin.Permissions" version="3.0.0.12" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Geolocator" version="4.5.0.6" targetFramework="xamarinios10" />
  <package id="Xamarin.Essentials" version="0.6.0-preview" />
  <package id="Xamarin.Forms" version="3.4.0.1008975" targetFramework="xamarinios10" />
</packages>